<h1 class="display-4 text-primary">Blogposts#index</h1>
<span><%= link_to '[サイトを表示]',  blogs_path %></span>
<p>※投稿記事の一覧</p>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>title</th>
      <th>lead</th>
      <th><%= link_to 'genre', bloggenres_path %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @blogposts.each do |blogpost| %>
      <tr>
        <td><%= blogpost.id %></td>
        <td><%= blogpost.title %></td>
        <td><%= blogpost.lead %></td>
        <td><%= blogpost.bloggenre.name %></td>
        <!--<td><#%= link_to 'Edit',  blogposts_new_path(blogpost) %></td>-->
        <td><a href="/blogposts/<%= blogpost.id %>/edit">Edit</a></td>
        <!--<td><#%= link_to 'Delete', blogposts_new_path(blogpost) %></td>-->
        <td><a href="/blogposts/<%= blogpost.id %>/delete">Delete</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to '新規作成 >>',  blogposts_new_path %></p>
<p><%= link_to '管理画面へ >>',  blogconfigs_path %></p>
