<% @blogposts.each do |blogpost| %>
  <h3><a href="/blogs/<%= blogpost.id %>/show"><%= blogpost.title %></a></h3>
  <p><%= blogpost.lead %><span class="top_created">(<%= blogpost.created_at.to_s(:datetime_jp) %>)</span></p>
  <hr>
<% end %>

<div class="navigate">
  <div><%= paginate @blogposts %></div>
</div>
<%= link_to '管理画面へ >>', blogconfigs_path %>