<h2 class="mb-5"><%= @blogpost.title %><span class="genre"><%= "ジャンル：[#{@blogpost.bloggenre.name}]" %></span></h2>
<p><%= @blogpost.lead %></p>
<%= @blogpost.content %>
<p class="show_created">(<%= @blogpost.created_at.to_s(:datetime_jp) %>)</p>
<p class="mt-4 mb-4"><%= link_to '> 戻る', blogs_path %></p>