<h1 class="display-4 text-primary">Blogconfigs#edit</h1>
<p>※ブログ設定の編集</p>

<% if @blogconfig.errors.any? %>
  <ul>
    <% @blogconfig.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @blogconfig, url: blogconfigs_edit_path, local: true do |f| %>
  <div class="form-group">
    <label for="title">Title</label>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <label for="title">Sub Title</label>
    <%= f.text_field :subtitle, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <label for="title">Style Name</label>
    <%= f.text_field :stylename, class: 'form-control' %>
  </div>
  <%= f.submit '更新'%>
<% end %>