<h1 class="display-4 text-primary">Blogconfigs#index</h1>
<span><%= link_to '[サイトを表示]',  blogs_path %></span>
<p>※ブログの設定内容 <%= link_to '[変更]',  blogconfigs_edit_path %></p>

<table class="table">
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= @blogconfig.title %></td>
    </tr>
    
    <tr>
      <th>Subtitle</th>
      <td><%= @blogconfig.subtitle %></td>
    </tr>
    
    <tr>
      <th>Style Name</th>
      <td><%= @blogconfig.stylename %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to 'ブログを編集 >>',  blogposts_path %></p>