<p class="mb-5">「<%= @card.title %>」の内容を編集します。</p>

<% if @card.errors.any? %>
  <ul>
    <% @card.errors.full_messages.each do |err| %>
      <li style="color:red;"><%= err %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @card do |f| %>
  <div class="form-group">
    <label for="title">タイトル</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <label for="author">著者</label>
    <%= f.text_field :author, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <label for="price">価格</label>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <label for="publisher">出版社</label>
    <%= f.text_field :publisher, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <label for="meno">メモ</label>
    <%= f.text_area :memo, rows: "10", cols: "20", class: "form-control" %>
  </div>
  
  <div>
    <%= f.submit "更新", class: "btn btn-secondary" %>
  </div>
<% end %>

<div class="mt-4 mb-4">
  <%= link_to '> 戻る', :back %>
</div>