<p>登録データ一覧</p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>著者</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @cards.each do |card| %>
    <tr>
      <td width="35px"><%= card.id %></td>
      <td width="30%"><%= link_to card.title, card_path(card) %></td>
      <td width="200px"><%= card.user.nickname %></td>
      <td><%= card.author %></td>
      <% if user_signed_in? && current_user.id == card.user_id %>
        <td width="80px"><%= link_to '[編集]', edit_card_path(card) %></td>
        <td width="80px"><%= link_to '[削除]', card_path(card), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-4 mb-4">
  <%= paginate(@cards) %>
</div>

<div>
  <%= link_to 'カードを作成', new_card_path, class: 'btn btn-primary' %>
  <%= link_to '探す', cards_find_path, class: 'btn btn-secondary' %>
</div>