<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <% if flash[:notice] %>
      <% str = flash[:notice] %>
      <% flash[:notice] = nil %>
      <p class="text-success"><%= str %></p>
    <% end %>
    
    <!--<#% if flash[:alert] %>-->
    <!--  <#% str = flash[:alert] %>-->
    <!--  <#% flash[:alert] = nil %>-->
    <!--  <p class="text-danger"><#%= str %></p>-->
    <!--<#% end %>-->
    
    <header class="header container">
      <!--<div class="header__bar row">-->
      <div class="header_container">
        <h1 id="site-title" class="grid-6"><a href="/">My Book Cards</a></h1>
        
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.nickname %>
              <ul class="user__info">
                <li>
                  <a href="/users/<%= current_user.id %>">マイページ</a>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <a class="post" href="/cards/new">カードを作成</a>
          </div>
        <% else %>
          <div class="user_nav_index grid-6">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "アカウント作成", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>
      </div>
    </header>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <footer class="footer">
      <p>Copyright My Book Diary 2021.</p>
    </footer>
  </body>
</html>
