<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <%= stylesheet_link_tag 'blog', media: 'all', 
      'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'actiontext', media: 'all', 
      'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <% if flash[:notice] %>
      <% str = flash[:notice] %>
      <% flash[:notice] = nil %>
      <p class="text-success"><%= str %></p>
    <% end %>
    
    <% if flash[:alert] %>
      <% str = flash[:alert] %>
      <% flash[:alert] = nil %>
      <p class="text-danger"><%= str %></p>
    <% end %>
    
    <%= yield %>
    <div class="mt-5 text-center small text-scondary border-top border-scondary">Copyright My Blog 2021.</div>
    
    <%= javascript_pack_tag 'application', 
      'data-turbolinks-track': 'reload' %>
  </body>
</html>